{% extends 'courses/course_base.html' %}

{% block title_name %}
    LMS - {{ course.course_name }}
{% endblock title_name %}

{% block main_content %}
<div class="mb-4">
    <h1>{{ course.course_name }}</h1>
    <h4>Teacher: {{ course.teacher }}</h4>
    <p class="text-muted">Description: {{ course.course_description }}</p>
</div>

{% if user.user_type == 1 %}
    {% if user in course.students.all %}
        <a href="{% url 'courses:unenroll' pk=course.pk %}" class="btn btn-danger">Unenroll</a>
    {% else %}
        <a href="{% url 'courses:enroll' pk=course.pk %}" class="btn btn-success">Enroll</a>
    {% endif %}
{% endif %}

{% if course.teacher.id == user.id or user in course.students.all %}
<div class="mt-4">
    {% if user.user_type == 2 %}
        <a href="{% url 'assignments:create' %}" class="btn btn-warning me-2">
            <i class="fa fa-plus-circle"></i> Create New Assignment
        </a>
        <a href="{% url 'resources:create' %}" class="btn btn-info">
            <i class="fa fa-plus-circle"></i> Create New Resource
        </a>
    {% endif %}

    <div class="mt-4">
        <h3>Assignments</h3>
        <ul class="list-group">
            {% for assignment in assignments %}
            <li class="list-group-item">
                <a href="{% url 'assignments:detail' pk=assignment.pk %}" class="text-decoration-none">
                    <h5>{{ assignment.assignment_name }}</h5>
                </a>
                <p>{{ assignment.assignment_description }}</p>
                <small>Start Date: {{ assignment.start_date }}</small> | 
                <small>Due Date: {{ assignment.due_date }} {{ assignment.due_time }}</small>
            </li>
            {% empty %}
            <li class="list-group-item">No Assignments</li>
            {% endfor %}
        </ul>
    </div>

    <div class="mt-4">
        <h3>Resources</h3>
        <ul class="list-group">
            {% for resource in resources %}
            <li class="list-group-item">
                <h5>{{ resource.resource_name }}</h5>
                <a href="{{ resource.resource_file.url }}" class="btn btn-primary btn-sm" download>Download</a>
                {% if user.id == course.teacher.id %}
                <a href="{% url 'resources:delete' pk=resource.pk %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </li>
            {% empty %}
            <li class="list-group-item">No Resources</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock main_content %}
